.preloader-container
  .preloader-wrapper.big.active
    .spinner-layer.spinner-blue-only
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
  %p Loading Images

.booking-show-wrapper{ :id => @booking ? @booking.booking_id : @reference}
  .row
    .col.s6
      - if @next_booking
        %p Go to next booking that requires photos
        = link_to "Next Booking", booking_path(@next_booking), class: " btn"
      - if @last_booking
        = link_to "Previous Booking", booking_path(@previous_booking), class: " btn"

  .row.booking-info.hide
    .booking-info.col.s12
      .col.s6
        %p
          %b Quotation created at:
          %span.created_at
      .col.s6
        %p
          %b Departure date:
          %span.departure_date
      .col.s6
        %p
          %b Vehicle Model:
          %span.model
      .col.s6
        %p
          %b Vehicle Make:
          %span.make
      .col.s6
        %p
          %b Vehicle registration:
          %span.registration
      .col.s6
        %p
          %b Dropoff date:
          %span.dropoff
      .col.s6
        %p
          %b Colour:
          %span.colour
      .col.s6
        %p
          %b Quotation id:
          %span.quotation
  .missing_images_wrapper.hide
    = render 'uploads/missing_images'
