.next-booking-form
  %h5 Go to next booking that requires upload
  = link_to "Next Booking", booking_path(@booking), class: " btn"
  = link_to "Last Booking", booking_path(@last_booking), class: " btn"
