!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SfukImageUploader
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    %nav
      .nav-wrapper
        %a.brand-logo{:href => "/"} SFUK image uploader
        %ul#nav-mobile.right.hide-on-med-and-down
          %li
            %a{:href => "/search-bookings"} Search
    .container
      = yield
